<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Index </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>
    @* Start header *@
    <nav class="mt-5">
        <center>
            <a class="btn btn-primary" href="/Home/Index"> Home </a>
            <a class="btn btn-secondary" href="/Home/AboutUs"> About Us </a>
            <a class="btn btn-success" href="/Home/Privacy"> Privacy </a>
            <a class="btn btn-warning" href="/Home/ContactUs"> Contact Us </a>
            <a class="btn btn-warning" href="/Account/Login"> Login </a>
            @* HTML helpers *@
            @Html.ActionLink("Home", "Index", "Home")
            @* Tag helpers *@
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index" >  Home </a>
        </center>
    </nav>
    @* End header *@
    <div>
        @RenderBody()
    </div>
    @* Start Footer *@
    <footer class="mt-5">
        <center>
            <div>
                <p>
                    CopyRights &copy; Route @DateTime.Now.Year
                </p>
            </div>
        </center>
    </footer>
    @* End Footer *@
</body>
</html>
