@model ResetPasswordModelView
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-w3layouts wrapper">
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-action="SendEmail" method="post">

                <div class="form-group">
                    <input type="text" class="form-input" asp-for="NewPassword" placeholder="New Password" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <input type="text" class="form-input" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <input type="submit" value="Reset Password">
            </form>
        </div>
    </div>
</div>
