@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are you sure to delete @Model.Name?</h1>

<form asp-action="Delete">

    <partial name="PartialViews/DeleteDetailsPartialView" />


    <input type="submit" value="Delete" class="btn btn-danger" />

    <a asp-action="Index" class="btn btn-light"> Back To List </a>

</form>
