@model EmployeeViewModel
@{
    ViewData["Title"] = "Details";
}

<partial name="PartialViews/DeleteDetailsPartialView" />


<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"> Edit </a>
<a asp-action="Index" class="btn btn-light"> Back To List </a>

