<div class="card" style="width: 18rem;">
    <img src="\Images\@Model.Image" class="card-img-top" alt="Card image">
    <div class="card-body">
        <h5 class="card-title"> @Model.Name </h5>
        <p class="card-text"> Description: @Model.Description - Price: @Model.Price</p>
    </div>
</div>
